<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm am an angular app!</h3>

      <p>This is a paragraph</p>

      <p>{{ class }}</p>
      <app-user></app-user>

      <hr />
      <input type="text" [(ngModel)]="name" />

      <!-- Dynamically changing the value of in the p tag to the value in input tag -->
      <!-- Done by the ngModel directive -->
      <p>{{ name }}</p>

      <hr />
      <app-server></app-server>
      <p>Below is the app-servers reusing the app-server component</p>
      <app-servers></app-servers>
    </div>
  </div>
  <div class="row">
    <app-warning-alert></app-warning-alert>
    <app-success-alert></app-success-alert>
  </div>
</div>
