<p>user works!</p>
<label for="username">Username:</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="username"
  (input)="checkEmpty()"
/>

<p>{{ username }}</p>
<button
  class="btn btn-primary"
  [disabled]="!allowResetName"
  (click)="showUser()"
>
  Reset Name
</button>
<!-- <button (click)="checkEmpty()">Check empty</button> -->

<!-- perform property binding the disabled property -->
<!-- create a method in the typescript -->
<!-- bind a click event to button to invoke method created -->
